/[Bb]uilds/
/[Bb]uild/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]serSettings/
*.csproj
*.vsconfig
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pidb.meta
*.swatches
*.swatch
!*.dll
!*.obj
!*.exe
!*.lib
/.vs/
/Packages/packages-lock.json
.DS_Store
